<app-navbar></app-navbar>
<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6" role="main">
                <div class="display-1 text-center">404</div>
                <div class="display-5 text-muted text-center">PAGE NOT FOUND</div>
                <div class="col text-center">
                    <button class="btn btn-lg btn-outline-primary mt-4" role="link" routerLink="/films" type="button"> Go back to All Films</button>
                </div>
            </div>
        </div>
    </div>
</div>
