<app-navbar></app-navbar>
<div class="container mt-2 mb-2">
    <h3>All Films</h3>
    <div class="mt-3 mb-3">
        <div class="row">
            <div class="col-3">
                <label for="categoriesSelector">Filter films by category</label>
            </div>
            <div class="col">
                <select (change)="filterTable($event)" class="form-select" id="categoriesSelector">
                    <option selected>All Categories</option>
                    <option *ngFor="let category of categories">{{category}}</option>
                </select>
            </div>
        </div>
    </div>
    <table [dtOptions]="dtOptions" class="table table-bordered table-hover" datatable role="main"
           style="width:100%"></table>
</div>
