/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */


// required to get $orange variable
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";


$primary : #0048a6;
$success : #005b0f;
$danger  : #780000;
$link-color: #0048a6;
$link-hover-color : #0048a6;
$pagination-active-bg : #0048a6;
$pagination-active-border-color : #0048a6;
$pagination-disabled-color : #535a60;

// merge with existing $theme-colors map
$theme-colors: map-merge($theme-colors, (
        "primary": $primary,
        "success": $success,
        "danger" : $danger,
        "link-color" : $link-color,
        "link-hover-color" : $link-hover-color,
        "pagination-active-bg" : $pagination-active-bg,
        "pagination-active-border-color" : $pagination-active-border-color,
        "pagination-disabled-color" : $pagination-disabled-color,
));

// set changes
@import "bootstrap";

