<nav ngbNav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <span class="navbar-brand">Dvd Rental</span>
        <ng-template [ngIf]="loggedIn" [ngIfElse]="doLogin">
            <div ngbDropdown>
                <button type="button" class="btn btn-light" ngbDropdownToggle>{{customerName}}</button>
                <div ngbDropdownMenu>
                    <button ngbDropdownItem routerLink="/rentals"> My Rentals </button>
                    <button ngbDropdownItem class="text-danger" (click)="logout()">Logout</button>
                </div>
            </div>
        </ng-template>
        <ng-template #doLogin>
            <button class="btn btn-primary" routerLink="/login">Login</button>
        </ng-template>
    </div>
</nav>