<div class="modal-header">
    <h4 class="modal-title">Rental</h4>
    <button (click)="activeModal.dismiss('Cross click')" aria-label="Close" class="btn-close" role="link" type="button"></button>
</div>

<div class="modal-body" role="main">
    <ng-template [ngIf]="canViewRental">
        <h5 class="mt-1">Film</h5>
        <p>{{film_title}}
            <ng-template [ngIf]="film_release_year">- {{film_release_year}}</ng-template>
        </p>

        <div *ngIf="film_description">
            <h5>Description</h5>
            <p>{{film_description}}</p>
        </div>

        <h5>Rental Information</h5>
        <p><span class="h6">Rental location:</span> {{store.address}}, {{store.district}}, {{store.city}}, {{store.country}}</p>
        <p><span class="h6">Rented on:</span> {{rental_date.toDateString()}}</p>
        <p *ngIf="rental_date"><span class="h6">Returned on:</span> {{return_date?.toDateString()}}</p>
        <p *ngIf="cost"><span class="h6">Payment amount:</span> {{cost}}$</p>
    </ng-template>
    <ng-template [ngIf]="!canViewRental">
        <ngb-alert [dismissible]="false" type="danger">
            Oops! It seems like you can't view this rental information.
        </ngb-alert>
    </ng-template>
</div>

<div class="modal-footer">
    <button (click)="activeModal.dismiss('Cross click')" class="btn btn-outline-dark" role="link" type="button">Close</button>
</div>
