<div class="modal-header">
    <h4 class="modal-title">{{title}}
        <ng-template [ngIf]="release_year">- {{release_year}}</ng-template>
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>

<div class="container">

    <div class="row justify-content-start">
        <div class="col">
            <p><b>Language: </b>{{language}}</p>
        </div>
        <div *ngIf="length" class="col">
            <p><b>Length: </b>{{length}} minutes</p>
        </div>
        <div *ngIf="rating" class="col">
            <p><b>Rating: </b>{{rating}}</p>
        </div>
        <div class="col">
            <p><b>Category: </b>{{categories.join(', ')}}</p>
        </div>
    </div>

    <h5>Actors</h5>
    <p>{{actors.join(', ')}}</p>

    <div *ngIf="description">
        <h5>Description</h5>
        <p>{{description}}</p>
    </div>

    <h5>Special Features</h5>
    <ul>
        <li *ngFor="let feature of special_features">{{feature}}</li>
    </ul>

    <h5>Fulltext</h5>
    <p>{{fulltext}}</p>

    <h5>Rental Information</h5>
    <div class="row">
        <div class="col">
            <p><b>Rental rate:</b> {{rental_rate}}</p>
        </div>
        <div class="col">
            <p><b>Maximum rental duration:</b> {{rental_duration}} days</p>
        </div>
        <div class="col">
            <p><b>Replacement cost:</b> {{replacement_cost}}</p>
        </div>
    </div>
</div>

<hr/>
<ng-template [ngIf]="loggedIn && !filmRented">
    <h5 class="mx-4">Rent this film!</h5>
    <form class="row row-cols-2 mx-3 mb-3 g-3" [formGroup]="rentForm" (ngSubmit)="onFormSubmit()">
        <div class="col-sm-6">
            <label for="rentDate">Choose a rental date:</label>
            <input formControlName="rentalDate" class="form-control" type="date" id="rentDate"/>
        </div>
        <div class="col-sm-6">
            <label for="store">Select a store:</label>
            <select formControlName="store" class="form-control" id="store">
                <option *ngFor="let store of stores">{{store}}</option>
            </select>
        </div>
        <div *ngIf="this.rentForm.get('rentalDate')!.errors && this.rentForm.get('rentalDate')!.touched" class="col-sm-12">
            <span class="text-danger">The rental date must be between today and the next two days.</span>
        </div>
        <div class="col-sm-12">
            <input type="submit" name="submit" class="w-100 btn btn-success" value="Rent"/>
        </div>
    </form>
</ng-template>
<ng-template [ngIf]="filmRented">
    <p class="m-3 text-center text-success">Thank you for renting {{title}}!</p>
</ng-template>
<ng-template [ngIf]="!loggedIn">
    <p class="m-3 text-center">Please <a routerLink="/login" (click)="activeModal.close('Redirect')">Log In</a> to rent
        this film.</p>
</ng-template>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
