<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card">
                    <form (ngSubmit)="onFormSubmit()" [formGroup]="loginForm" class="p-4" role="form">
                        <h3>Login</h3>
                        <ngb-alert *ngIf="auth_error" [dismissible]="false" type="danger">Invalid email or
                            password!
                        </ngb-alert>
                        <div class="form-group mb-1">
                            <label for="email">Email</label>
                            <input formControlName="email" class="form-control" type="email" id="email"
                                   placeholder="email"/>
                            <span *ngIf="email!.errors && email!.touched"
                                  class="text-danger">Please enter a valid email.</span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="password">Password</label>
                            <input formControlName="password" class="form-control" type="password" id="password"
                                   placeholder="password"/>
                            <span *ngIf="password!.errors && password!.touched"
                                  class="text-danger">Please enter a password.</span>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-primary" value="Log In"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>